In [1]:
# ===================================
# By: Abdullah AlQasim
# Twitter: @jalmood966
# Email: jalmood966 [at] gmail
# ===================================

import datetime as dt
import pandas as pd
import numpy as np
from scipy import stats
from pandas_datareader import data as pdr
import yfinance as yf

from datetime import datetime

In [2]:
startdate = datetime(2022,1,1)
enddate = datetime(2023,7,24)

startdate, enddate

(datetime.datetime(2022, 1, 1, 0, 0), datetime.datetime(2023, 7, 24, 0, 0))

In [18]:
stockList = ['1010', '1020', '1030','1050','1060','1080','1120','1140','1180','^TASI']
stocks = [i + '.SR' for i in stockList]
stocks

['1010.SR',
 '1020.SR',
 '1030.SR',
 '1050.SR',
 '1060.SR',
 '1080.SR',
 '1120.SR',
 '1140.SR',
 '1180.SR',
 '^TASI.SR']

In [19]:
yf.pdr_override()

df = pdr.get_data_yahoo(stocks, start=startdate, end=enddate)

[*********************100%***********************]  10 of 10 completed

In [ ]:
df

In [22]:
log_returns = np.log(df.Close / df.Close.shift(1)).dropna()
log_returns.head()

,1010.SR,1020.SR,1030.SR,1050.SR,1060.SR,1080.SR,1120.SR,1140.SR,1180.SR,^TASI.SR
Date,,,,,,,,,,
2022-01-04,0.000000,0.021935,0.005018,-0.015006,0.005874,0.023238,0.000000,-0.042908,0.010566,0.002582
2022-01-05,0.012762,0.031070,0.019822,0.004310,0.007294,0.024312,-0.001402,0.009351,0.026668,0.008442
2022-01-06,0.005420,0.002864,0.013645,-0.008639,0.000000,0.000000,-0.001404,0.001034,-0.013245,-0.001973
2022-01-09,0.010753,0.033743,0.016323,0.018270,0.011561,0.014703,0.006998,0.018424,0.011782,0.011305
2022-01-10,0.014160,-0.013921,0.011364,-0.001066,0.044951,-0.009911,0.015225,0.008081,0.013091,0.008987

In [44]:
np_array = df.values

#print(np_array[:1])

arr = np.array([[1, 2, 3, 4], [5, 6, 7, 8]])
np_array.shape
#print(arr.shape)

(383, 60)

In [ ]:
def calc_beta(df):
    np_array = df.values
    # Market index is the first column 0
    m = np_array[:,0] 
    beta = []
    for ind, col in enumerate(df):
        if ind > 0:
            # stock returns are indexed by ind
            s = np_array[:,ind] 
            # Calculate covariance matrix between stock and market
            covariance = np.cov(s,m) 
            beta.append( covariance[0,1]/covariance[1,1] )
    return pd.Series(beta, df.columns[1:], name='Beta')

calc_beta(log_returns)